 <div>
    <%= link_to 'Voltar', admin_dashboard_path, class: "btn btn-primary" %>
  </div>
<%= link_to 'Relatório por semanas', admin_report_weekly_path, class:'btn btn-success' %>
<%= link_to 'Ultimos 7 dias', admin_report_seven_last_path, class:'btn btn-success'  %>